<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>House Price Prediction</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <script src='main.js'></script>
</head>

<body>
    <div class="prediction page">
        <div class="form">
            <form action="{{url_for('predict')}}" method="POST">
                SL: <input type="float" name='SL' placeholder="Enter SL"><br>
                SW: <input type="float" name='SW' placeholder="Enter SW"><br>
                PL: <input type="float" name='PL' placeholder="Enter PL"><br>
                PW: <input type="float" name='PW' placeholder="Enter PW"><br>
                <input type="submit" value="predict" class="submit">
            </form>
            <p> species: {{data}}</p>
        </div>

    </div>


</body>

</html>